<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1><%= @current_user.email %></h1>
  <div>
    <%= form.label 'Użytkownik', style: "display: block" %>
    <%= form.text_field 'user', value: @current_user.email, readonly: true %>
  </div>
  <div>
    <%= form.label 'Kategoria', style: "display: block" %>
    <%= form.collection_check_boxes :category_ids, @categories, :id, :name %>
    
    
  </div>
  <div>
    <%= form.label 'Tytuł', style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label 'Treść', style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit 'Zapisz post', class: "btn btn-primary" %>
  </div>
<% end %>

